@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products {
  width: 100%;
  &_card {
    animation: fadeIn 1s;
    overflow: hidden;
    img {
      transition: all 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  &_desc {
    text-align: center;
    div:nth-child(2) {
      font-size: 20px;
    }
    padding-bottom: 10px;
  }
  &_addbtn {
    padding-top: 20px;
    button {
      width: 100%;
    }
  }
}
